body {
    background-color: #fff;
    color: #222;
}

.card {
    background-color: #f8f9fa;
}

.card img {
    max-width: 100%;
    height: auto;
}

audio {
    background: #505050;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 4px;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #000 !important;
}

.card.border-info .btn-info {
    color: #fff !important;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #000;
    color: #fff;
}

body.dark-mode .card {
    background-color: #1e1e1e;
}


body.dark-mode h1,
body.dark-mode p,
body.dark-mode h2,
body.dark-mode li,
body.dark-mode h3{
    color: #fff;
}
body.dark-mode h4 {
    color: #828eff;
}
body.dark-mode .card-footer h6 {
    color: #8f8f8f;
}

body.dark-mode .card-header{
    color: #fff;
}

body.dark-mode audio {
    background-color: #87c2fd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 4px;
}

body.dark-mode label,
body.dark-mode .form-check-label,
body.dark-mode .form-label {
    color: #828eff;
}

body.dark-mode .navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff !important;
}

body.dark-mode .card .card-body .card-title {
    color: #fff !important;
}

body.dark-mode .pixelart-title {
    color: #fff;
    text-shadow: 0 2px 8px #222;
}

body.dark-mode .text-muted,
.dark-mode .text-muted,
body.dark-mode small.text-muted,
.dark-mode small.text-muted {
    color: #b0b0b0 !important;
}